{#
/**
 * @file
 * Template for Contact page.
 *
 * Available variables:
 * - title: Page title
 * - subtitle: Page subtitle
 * - webform: Rendered webform
 */
#}
<div class="container py-3">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      
      {# Header #}
      <h1 class="text-center mb-4 text-cyan">{{ title }}</h1>

      {# Webform #}
      <div class="card card-forseti p-4">
        {{ webform }}
      </div>

      {# Additional Information #}
      <div class="text-center mt-4 text-muted-light">
        <p class="small">
          We typically respond to inquiries within 24-48 hours.
        </p>
      </div>

    </div>
  </div>
</div>
