{#
/**
 * @file
 * Template for the user profile dashboard page.
 *
 * Available variables:
 * - user: The user entity.
 * - children: Rendered child elements (completeness widget, stats, sections, actions).
 */
#}

<div class="user-profile-dashboard">
  {{ children }}
</div>
