{#
/**
 * @file
 * Template for D3.js chart container.
 *
 * Available variables:
 * - chart_id: Unique ID for the chart container.
 * - chart_type: Type of chart (bar, spline, line, area).
 * - chart_title: Optional title for the chart (for accessibility).
 */
#}
<div id="{{ chart_id }}"
     class="users-metrics-chart users-metrics-chart--{{ chart_type }}"
     role="img"
     aria-label="{{ chart_title|default('User metrics chart'|t) }}"
     tabindex="0">
  <span class="visually-hidden">{{ 'Interactive chart. Use the data table below for accessible data.'|t }}</span>
</div>
